<footer class="py-12">
  <p class="block text-center text-sm mb-6">
    Hecho con ✋ y ❤ en la 🏠 by 
    <a target="_blank" class="text-lightblue-400" href="https://twitter.com/sotoplatero">
      @sotoplatero
    </a>
  </p>

  {# <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a> #}
</footer>