<header>
  <nav class="container mx-auto max-w-3xl px-4 pt-2 flex flex-wrap justify-between">
    <div class="flex items-center">
      <figure class="md:w-12 w-10 inline-block mr-2">
        <a href="/" title="dsoto.dev">
          <img src="/logo.jpg" alt="Logo dsoto.dev">
        </a>
      </figure>
      <div class="leading-none">
        <h1 class="m-0">
          <a href="{{ site.baseUrl }}" class="no-underline" title="dsoto.dev">
            {{ site.name }}
          </a>
        </h1>
        <p class="uppercase text-sm md:block hidden font-bold">
          Laravel <i class="text-gray-500">&bull;</i> Node <i class="text-gray-500">&bull;</i> js <i class="text-gray-500">&bull;</i> Svelte <i class="text-gray-500">&bull;</i> Vue <i class="text-gray-500">&bull;</i> API
        </p>
      </div>
    </div>

{#     <ul class="flex flex-wrap md:justify-between justify-evenly">
      <li>
        <a href="{{ site.baseUrl }}about" class="no-underline">😎</a>
      </li>
    </ul> #}
  </nav>
</header>