<div class="space-y-4">
    {% for post in posts %}
        {% if not post.data.draft %}
            <div class="flex mr-auto">
                <span class="flex-grow">
                    <a class="block font-bold text-lg" href="{{ post.url | url }}">{{ post.data.title }}</a>
                </span>

                {# <p class="excerpt">{{ post.data.excerpt }}</p> #}

{#                 {% for tag in post.data.tags %}
                    {%- if tag !== "post" -%}
                        <a class="tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
                    {%- endif -%}
                {% endfor %} #}

                <span 
                    class="created-date"
                    datetime="{{ post.data.date }}"
                >
                    {{ post.data.date | dateDisplay }}
                </span>
            </div>
        {% endif %}
    {% endfor %}
</div>