.copy {
    @apply text-xs p-2 cursor-pointer absolute top-0 right-0 opacity-50 bg-gray-400 text-gray-800;
    font-family: Consolas, monaco, monospace;
    content: "copy";
    transition: all 200ms ease;
}

.copy:hover {
    @apply p-3 opacity-100;
}

pre {
    @apply relative;
}
