---
pagination:
  data: collections.post
  size: 10
  path: "/"
  alias: posts
  reverse: true
---

{% extends 'page.njk' %}

{% block body %}
  {% include "lastest.njk" %}
  {% include "projects.njk" %}
{% endblock %}